##
## THIS FILE IS UNDER PUPPET CONTROL. DON'T EDIT IT HERE.
## USE: git clone git+ssh://$USER@puppet.debian.org/srv/puppet.debian.org/git/dsa-puppet.git
##

<VirtualHost *:80>
   ServerAdmin debian-admin@debian.org
   DocumentRoot /srv/ftp.root/debian-security
   ServerPath /debian-security
   ServerName security.debian.org
   ServerAlias security.ipv6.debian.org
   ServerAlias security.eu.debian.org
   ServerAlias security.us.debian.org
   ServerAlias security.na.debian.org
   ServerAlias security.geo.debian.org
   ServerAlias security-cdn.debian.org
   ServerAlias security-cdn1.debian.org
   ServerAlias security-cdn2.debian.org
   ServerAlias security-nagios.debian.org
   <% if scope.function_onion_global_service_hostname(['security.debian.org']) -%>
   ServerAlias <%= scope.function_onion_global_service_hostname(['security.debian.org']) %>
   <% end %>
   ServerAlias security.backend.mirrors.debian.org
   ServerAlias *.security.backend.mirrors.debian.org
   ServerAlias security.anycast-test.mirrors.debian.org


   ExpiresActive On
   ExpiresDefault "access plus 2 minutes"

   Alias /debian-security /srv/ftp.root/debian-security
   Use ftp-archive /srv/ftp.root/debian-security

   Alias /_health /run/dsa-mirror-health-security/health
   <Directory /run/dsa-mirror-health-security/>
      Require all granted
   </Directory>

   RewriteEngine on
   RewriteRule ^/$      https://www.debian.org/security/

   RewriteCond %{HTTP:Fastly-Client-IP} !. [NV]
   RewriteCond %{HTTP_USER_AGENT} "!Amazon CloudFront"
   <% if scope.function_onion_global_service_hostname(['security.debian.org']) -%>
   RewriteCond %{HTTP_HOST} "!=<%= scope.function_onion_global_service_hostname(['security.debian.org']) %>"
   <% end %>
   RewriteRule ^/(pool/updates/main/l/linux/.*) http://security-cdn.debian.org/$1 [L,R=302]
   RewriteCond %{HTTP:Fastly-Client-IP} !. [NV]
   RewriteCond %{HTTP_USER_AGENT} "!Amazon CloudFront"
   <% if scope.function_onion_global_service_hostname(['security.debian.org']) -%>
   RewriteCond %{HTTP_HOST} "!=<%= scope.function_onion_global_service_hostname(['security.debian.org']) %>"
   <% end %>
   RewriteRule ^/debian-security/(pool/updates/main/l/linux/.*) http://security-cdn.debian.org/$1 [L,R=302]

   CustomLog /var/log/apache2/security.debian.org-access.log privacy
   ServerSignature On
</VirtualHost>

# vim:set syn=apache:
